body {
    color: #000000;
    background-image: url("../images/shoto-W.png");
    background-size: 900px;
    background-position: center;
    background-attachment: fixed ;
    background-repeat: no-repeat ;
    background-color: darkseagreen;

}
ol {
    font-family: Lobster;
    font-size: 2em;
}
h2 {
    font-family: "Comic Sans MS";
    font-size: 3em;
    background: linear-gradient(#000049, #1cb5e0);

}
.ema-nel{
    color: darkviolet;
}
.turfu{
    color: mediumblue;
    marker: none;
}
ul{
    font-family: Consolas;
}
.int-emo{
    font-weight: bolder;
}
img{

    max-width: 100%;
    height: auto;
}
.email{
    font-weight: bold;
    text-decoration-line: none;
}
foot {
    font-family: SimSun;

}